// COLORS
// $color-black: #272727;
$color-black: rgb(84, 84, 84);
$color-white: rgb(251, 251, 251);
$color-grey: #EEEEEE;
$color-link: #1A0DAB;
$color-code: #00FF00;
$color-hire-white: #FEFEFE;
$color-hire-black: #272727;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 600px;
