<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="GNvdsbNFPS" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
      <title>{{ page.title }} | {{ site.name }}</title>
      <meta name="keywords" content="{{ page.tags | join: ',' }}" />
      <meta name="description" content="{{ page.description }}" />
    {% else %}
      <title>{{ site.name }}</title>
      <meta name="keywords" content="React.js 小书,React.js 教程,React.js,菜鸟教程,视频教程" />
      <meta name="description" content="{{ site.description }}。提炼实战经验中基础的、重要的、频繁的知识进行重点讲解，让你能用最少的精力深入了解实战中最需要的 React.js 知识。 " />
    {% endif %}

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="{{ site.static_path }}/assets/img/favicon.ico">
    <link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="{{ site.site_root }}/assets/css/main.css">
</head>

<body>

    <div class='float-wechat' id='float-wechat'>
    	<img src='{{ site.static_path }}/assets/img/wechat-user.jpeg' />
      <p>加入《React.js 小书》读者交流群，一起讨论、交流、学习前端技术。</p>
    </div>
    <div class="wrapper" id='wrapper'>
      {{ content }}
    </div>
    <script src="{{ site.site_root }}/assets/js/highlight.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      if (window.location.origin.match(/localhost/)) return
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f08b5240ef2d1692572ce0f7756b325e";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      var bp = document.createElement('script');
      // push baidu.com
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
    var wrapper = document.getElementById('wrapper')
    var floatWechat = document.getElementById('float-wechat')

    function resetAll (event) {
      var rect = wrapper.getBoundingClientRect()
      resetFloatWechat(rect)
    }
    function resetFloatWechat(rect) {
      var left = rect.left + rect.width
      floatWechat.style.left = left + 'px'
      floatWechat.style.display = 'block'
    }
    window.addEventListener('resize', resetAll)
    resetAll()
    </script>

</body>

</html>
