<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="GNvdsbNFPS" />
    <meta name="keywords" content="react.js,web,props,state,javascript,{{ page.title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }} | {{ site.name }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    {% if page.title %}
      <meta name="description" content="{{ site.description }}|本文内容：{{ page.content | strip_html | strip | strip_newlines | slice: 0, 110 }}..." />
    {% else %}
      <meta name="description" content="{{ site.description }}。提炼实战经验中基础的、重要的、频繁的知识进行重点讲解，让你能用最少的精力深入了解实战中最需要的 React.js 知识。 " />
    {% endif %}

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>
    <script src="/assets/js/highlight.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      if (window.location.origin.match(/localhost/)) return
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f08b5240ef2d1692572ce0f7756b325e";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</body>

</html>
