---
layout: default
---
<style media="screen">
@media (max-width: 1335px) and (min-width: 900px) {
	.wrapper {
		margin-left: 329px;
	}
}
@media (max-width: 900px) {
	#table-of-content {
		margin-left: -350px;
	}
}
</style>
<h1 style='position: relative; top: -15px;'>React.js 小书</h1>
{% if page.next.url %}
<link ref='prefetch' href="{{ page.next.url }}" />
{% endif %}
{% assign posts = site.posts | reverse %}
<nav class='table-of-content' id='table-of-content'>
	<a href='/'>&lt;-- 首页</a>
	<h3>第一阶段</h3>
  {% for post in posts %}
  {% if forloop.index <= 16 %}
		<a {% if post.url == page.url %} class='active' {% endif %} href="{{ post.url }}" title="{{ post.title }}">{{forloop.index}}. {{ post.title }}</a>
  {% endif %}
  {% endfor %}
	<h3>第二阶段</h3>
  {% for post in posts %}
  {% if forloop.index > 16 and forloop.index <= 27 %}
		<a {% if post.url == page.url %} class='active' {% endif %} href="{{ post.url }}" title="{{ post.title }}">{{forloop.index}}. {{ post.title }}</a>
  {% endif %}
  {% endfor %}
	<h3>第三阶段</h3>
  {% for post in posts %}
  {% if forloop.index > 27 %}
		<a {% if post.url == page.url %} class='active' {% endif %} href="{{ post.url }}" title="{{ post.title }}">{{forloop.index}}. {{ post.title }}</a>
  {% endif %}
  {% endfor %}
</nav>
<script type="text/javascript">
var tableOfContent = document.getElementById('table-of-content')
var timer = null
function resetTableOfContent (rect) {
  scrollTop = localStorage.getItem('scrollTop') * 1
  scrollTop = scrollTop || 0
  tableOfContent.scrollTop = scrollTop
}
tableOfContent.addEventListener('scroll', function (event) {
  clearTimeout(timer)
  timer = setTimeout(function() {
    localStorage.setItem('scrollTop', tableOfContent.scrollTop)
  }, 50)
}, false)
resetTableOfContent()
</script>
<div class="post">
	<div class="post__back">
  	<a href="/">&lt;-- 返回首页</a>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
      {{ content }}
    </div>
		<br/>
		<hr />
		<br />
		<div class="PageNavigation">
			{% if page.next.url %}
			<p>
				<a class="next" href="{{page.next.url}}">下一节：{{page.next.title}}</a>
			</p>
			{% endif %}
			<br/>
			{% if page.previous.url %}
			<p>
				<a class="prev" href="{{page.previous.url}}">上一节：{{page.previous.title}}</a>
			</p>
			{% endif %}
		</div>
		<div class='share-block'>
			<p>你的每一次分享，都是我更新内容的动力</p>
			<div class="share-block-inner">
				<div class="jiathis_style_24x24">
					<a class="jiathis_button_qzone"></a>
					<a class="jiathis_button_tsina"></a>
					<a class="jiathis_button_tqq"></a>
					<a class="jiathis_button_weixin"></a>
					<a class="jiathis_button_renren"></a>
					<a href="http://www.jiathis.com/share?uid=2127727" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
				</div>
				<script type="text/javascript">
				var jiathis_config = {data_track_clickback:'true'};
				</script>
				<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2127727" charset="utf-8"></script>
			</div>
		</div>
		<!-- UY BEGIN -->
		<div id="uyan_frame"></div>
		<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2127727"></script>
		<!-- UY END -->
	</div>
