---
layout: default
---

<h1 style='position: relative; top: -15px;'>React.js 小书</h1>
<div class="post">
	<div class="post__back">
  	<a href="/">&lt;-- 返回目录</a>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
      {{ content }}
    </div>
		<br/>
		<hr />
		<br />
		<div class="PageNavigation">
			{% if page.previous.url %}
			<p>
				<a class="prev" href="{{page.previous.url}}">下一节：{{page.previous.title}}</a>
			</p>
			{% endif %}
			<br/>
			{% if page.next.url %}
			<p>
				<a class="next" href="{{page.next.url}}">上一节：{{page.next.title}}</a>
			</p>
			{% endif %}
		</div>
		<div class='share-block'>
			<p>你的每一次分享，都是我更新内容的动力</p>
			<div class="share-block-inner">
				<div class="jiathis_style_24x24">
					<a class="jiathis_button_qzone"></a>
					<a class="jiathis_button_tsina"></a>
					<a class="jiathis_button_tqq"></a>
					<a class="jiathis_button_weixin"></a>
					<a class="jiathis_button_renren"></a>
					<a href="http://www.jiathis.com/share?uid=2127727" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
				</div>
				<script type="text/javascript">
				var jiathis_config = {data_track_clickback:'true'};
				</script>
				<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2127727" charset="utf-8"></script>
			</div>
		</div>
		<!-- UY BEGIN -->
		<div id="uyan_frame"></div>
		<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2127727"></script>
		<!-- UY END -->
	</div>
